 <!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="~/img/logo_bmw.png" alt=""></div>
            <div class="brand-item"><img src="~/img/logo.png" alt=""></div>
            <div class="brand-item"><img src="~/img/logo_sushivesla.png" alt=""></div>
            <div class="brand-item"><img src="~/img/logo.png" alt=""></div>
            <div class="brand-item"><img src="~/img/logo_minsk.png" alt=""></div>
            <div class="brand-item"><img src="~/img/logo.png" alt=""></div>
            <div class="brand-item"><img src="~/img/logo_sushitime.png" alt=""></div>
            <div class="brand-item"><img src="~/img/logo.png" alt=""></div>
            <div class="brand-item"><img src="~/img/logo_honda.png" alt=""></div>
            <div class="brand-item"><img src="~/img/logo.png" alt=""></div>
            <div class="brand-item"><img src="~/img/logo_tokiNY.png" alt=""></div>
            <div class="brand-item"><img src="~/img/logo.png" alt=""></div>
        </div>
    </div>
</div>
<!-- Brand End -->